*
{
	position: relative;
	margin: 0;
	padding: 0;
	border-radius: 0;
}

ul.nav.navbar-nav li
{
	display: inline-block;
}

button,
input,
select
{
	font-weight: 600;
	background-color: #eee;
	padding: 5px 10px;
}

button,
input
{
	border: 0;
}

.vacancies li
{
	clear: both;
}

.vacancies li h3,
.vacancies li div
{
	float: left;
}

button:disabled,
input:disabled,
select:disabled
{
	color: #666;
	background-color: #ccc;
}

#user:hover img,
article button:not(:disabled):hover,
article textarea:not(:disabled):hover,
article input:not(:disabled):hover,
article select:not(:disabled):hover
{
	-moz-box-shadow:    inset 0 0 10px rgba(0, 0, 255, 0.3);
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 255, 0.3);
	box-shadow:         inset 0 0 10px rgba(0, 0, 255, 0.3);
}

body
{
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

header.navbar
{
	background-color: #ccc;
	z-index: 999;
}

.img-responsive
{
	width: 100%;
}

.imageBack img
{
	border-radius: 100px;
}

div.imageBack
{
	display: block;
	width: 64px;
	height: 64px;
	margin: 5% auto;
}

p.imageBack
{
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 50%;
	margin: 0 5%;
}

span.imageBack
{
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 50%;
	margin: 0 5%;
}

.navbar
{
	margin-bottom: 0;
	border-radius: 0;
	padding: 0 7%;
	z-index: 998;
	border: 0;
	font-size: 90%;
	font-weight: 600;
	border-color: transparent;
}

article
{
	padding: 0 7%;
}

.badge-notify
{
	position: absolute;
	background: #f00;
	
	top: 5px;
	left: 30px;

	border: 1px solid #fff;
	font-size: 101%;
}

#user
{
	font-size: 200%;
	height: 34px;
	padding-top: 17%;
	padding-right: 17px;
}

p.imageBack.smallArrowDown:after
{
	position: absolute;
	content:'\25BC';
	margin-top: -25%;
	left: 90%;
	font-size: 70%;
}
/* * * * */

body
{
	background: #f1f3fa;
}

/* Profile container */
.profile
{
	margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar
{
	padding: 20px 0 10px 0;
	background: #fff;
}

.profile-userpic img
{
	float: none;
	margin: 0 auto;
	width: 50%;
	height: 50%;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
}

.profile-usertitle
{
	text-align: center;
	margin-top: 20px;
}

.profile-usertitle-name
{
	color: #5a7391;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 7px;
}

.profile-usertitle-job
{
	text-transform: uppercase;
	color: #5b9bd1;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px;
}

.profile-usermenu
{
	margin-top: 30px;
}

.profile-usermenu ul li
{
	border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li .badge-notify
{
position: relative;	
float: right;
top: -30px;
left: -5px;
}

.profile-usermenu ul li:last-child
{
	border-bottom: none;
}

.profile-usermenu ul li a
{
	color: #93a3b5;
	font-size: 14px;
	font-weight: 400;
}

.profile-usermenu ul li a i
{
	margin-right: 8px;
	font-size: 14px;
}

.profile-usermenu ul li a:hover
{
	background-color: #fafcfd;
	color: #5b9bd1;
}

.profile-usermenu ul li a.active
{
	color: #5b9bd1;
	background-color: #f6f9fb;
	border-left: 2px solid #5b9bd1;
}

/* Profile Content */
.profile-content:not(.chosenLink)
{
	display: none;
}

.profile-content
{
	padding: 20px;
	background: #fff;

	min-height: 415px;
	padding-bottom: 7%;
}

/* User button */
.dropdown-menu
{
	padding: 0;
	top: 49px;
}

.dropdown-menu a.dropdown-item
{
	display: block;
	width: 100%;
	padding: 3%;
}

.dropdown-menu .dropdown-item.logout
{
	border-top: 1px solid #ccc;
	background-color: #455;
	color: #fff;
}

header nav > li,
#logo,
#logoPic
{
	height: 34px;
	line-height: 34px;
	padding: 0;
}

#logoPic
{
	left: 22px;
	top: 5px;
}

ol.vacancies
{
	list-style-type: none;
	counter-reset: vacancyChoice;
}

ol.vacancies li
{
	width: 100%;
	padding: -1% 1%;
	
}

ol.vacancies li
{
	border-bottom: 1px groove #666;
	height: 125px;
}

#tab_myApplications #theEnd
{
	text-align: center;
	margin-top: 16%;
	margin-bottom: -21%;
}

#tab_myApplications #theEnd i
{
	display: none;
}

#tab_myApplications input[type='checkbox'],
#show_proposed:not(:checked)~.vacancies>.proposed,
#show_pending:not(:checked)~.vacancies>.pending,
#show_declined:not(:checked)~.vacancies>.declined
{
	display: none;
}

#tab_myApplications h2>span>label
{
	color: #777;
	font-weight: 400;
}

#tab_myApplications h2>span>label:hover
{
	text-decoration: underline;
	cursor: pointer;
}

#show_proposed:checked~h2>span>#label_proposed>.fa
{
	color: #0f0;
}

#show_pending:checked~h2>span>#label_pending>.fa
{
	color: #00f;
}

#show_declined:checked~h2>span>#label_declined>.fa
{
	color: #f00;
}

#show_proposed:not(:checked) + #show_pending:not(:checked) + #show_declined:not(:checked) ~ .vacancies + #theEnd
{
	border-top: 0;
	margin: 0;
}

#show_proposed:not(:checked) + #show_pending:not(:checked) + #show_declined:not(:checked) ~ .vacancies + #theEnd i
{
	display: initial;
}

ol.vacancies li h3,
ol.vacancies li p
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

ol.vacancies li .jobInfo p i.fa
{
	margin: 0 5px;
}

ol.vacancies li .jobInfo p:not(:last-of-type) i.fa
{
	color: #2db3f3;
}

ol.vacancies li .jobInfo p i.fa.fa-check-circle
{
	color: #0f0;
}

ol.vacancies li .jobInfo p i.fa.fa-question-circle
{
	color: #00f;
}

ol.vacancies li .jobInfo p i.fa.fa-minus-circle
{
	color: #f00;
}

.jobInfo
{
	width: 99%;
}

ol.vacancies li h3
{
	max-width: 95%;
}

ol.vacancies li p:first-child
{
	max-width: 100%;
}

ol.vacancies li p:nth-child(2),
ol.vacancies li p:nth-child(3)
{
	display: inline-block;
}

ol.vacancies li p:nth-child(2)
{	
	max-width: 55%;
}

ol.vacancies li p:nth-child(3)
{
	float: right;
	max-width: 44%;
	text-align: right;
}

ol.vacancies li h3::before
{
	counter-increment: vacancyChoice;
	content: '\2116' counter(vacancyChoice) ' ';
	display: inline-block;
}

ol.vacancies li .jobInfo span
{
	white-space: nowrap;
}

:not(a) .fa
{
	display: inline;
}


.profile-content
{
	color: #93a3b5;
}

h3
{
	color: #5a7391;
}

h2
{
	text-transform: uppercase;
    color: #5b9bd1;
	max-width: 99.5%;
}

h2 span
{
	float: right;
}

a
{
	color: #93a3b5;
}

b
{
	font-weight: 555;
}